.main-container {
  height: calc(100vh - 64px); /* 100vh menos a altura média do toolbar */
}

.side-menu {
  width: 250px;
  background-color: #f8f9fa;
  border-right: 1px solid #ddd;
}

.menu-label {
  padding: 15px;
  font-size: 0.7rem;
  font-weight: bold;
  color: #666;
  letter-spacing: 1px;
}

#main-content {
  padding: 20px;
  background-color: #ffffff;
}

/* Estilo para destacar o item selecionado no menu lateral */
.active-menu {
  background-color: rgba(0, 0, 0, 0.05);
  color: #3f51b5 !important; /* Cor primary do Material */
  border-right: 4px solid #3f51b5;
}
